
  body {
      background-color: #EEE;
      font-size: 1em;
      font-family: 'Montserrat', sans-serif;
      line-height: 1.5;
  }
  a:hover {
      color: black;
  }
  a {
      text-decoration: none;
      color: white;
  }
  h1, h2, h3 {
      margin: 0;
  }
  h3 {
      text-align: left;
  }
  #container {
      font-family: 'Montserrat', sans-serif;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
  }
  #header {
      background-color: #c9cfd3;
      color: white;
      text-align: center;
      padding: 10px;
      margin-bottom: 20px;
      height: 90px;

  }
  #content {
      padding: 10px;
  }
  #nav {
      background-color: #8b93a6;
      color: white;
      width: 180px;
      height: 750px;
      float: left;
      font-size: 1em;
      padding: 30px;
      padding-top: 20px;
  }
  #nav ul {
      color: white;
      list-style-type: none;
      padding: 0px;
      margin-top: 0;
      line-height: 2em;
  }
  #nav.selected {
      font-weight: bold;
  }
  #row {
      width: 1000px;
      float: left;
      padding-left: 35px;
  }
  #footer {
      clear: both;
      padding: 10px;
      margin-top: 20px;
      background-color: #c9cfd3;
      color: white;
      text-align: right;
  }
  #header img {
      height: 70px;
      float: left;
  }
  #header button {
      height: 30px;
      float: right;
      background-color: #8b93a6;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
  }
  * {
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  figcaption {
      padding: 0.5em;
      background-color: #c9cfd3;
  }